%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
        = image_tag avatar_url(current_user, size: 22)
        = current_user.email
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_registration_path do
            = glyph "user"
            My profile
        - if current_user.manager?
          %li
            = link_to "#" do
              = glyph "home"
              Manage Company

        %li.divider
        %li
          = link_to destroy_session_path(:user), method: :delete do
            = glyph "off"
            Log out
